[submodule "external/JUCE"]
	path = external/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "external/nam_core_parametric"]
	path = external/nam_core_parametric
	url = https://github.com/phillipmself/NeuralAmpModelerCore.git
	branch = feature/parametric-support
[submodule "external/AudioDSPTools"]
	path = external/AudioDSPTools
	url = https://github.com/sdatkinson/AudioDSPTools.git
